:root {
  --primary: #000000;
  --secondary: #FFFFFF;
  --accent: #FF5E5B;
  --shadow: 8px 8px 0px var(--primary);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-container {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--primary);
  padding: 40px 30px;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  position: relative;
  border-radius: 12px;
  margin: 0 auto;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid var(--primary);
  z-index: -1;
  border-radius: 12px;
}

h1 {
  color: var(--primary);
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

p{
   display: block;        
  max-width: 180px;      
  width: 100%;           
  margin: 20px auto;   
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
}

input {
  width:100%;
  padding: 12px 15px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  font-size: 20px;
  outline: none;
  transition: all 0.3s;
}

input:focus {
  box-shadow: 4px 4px 0px var(--primary);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  border-radius: 50px;
  border:none;
}

button:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}
.account-panel button{
  width:60px;
  height:60px;
  border-radius:50%;
  display:flex;
  justify-content:right;
  align-items:center;
  border:3px solid var(--primary);
}
.account-panel button img{
  width:28px;
  height:28px;
}

.divider {
  display: flex;
  align-items: center;
  margin: 25px 0;
  color: var(--primary);
  font-weight: bold;
}

.divider::before, .divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid var(--primary);
  margin: 0 10px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-btn {
  width: 50px;
  height: 50px;
  border:3px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.social-btn:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: var(--primary);
}
.dashboard-layout{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items:end;
  gap:25px;
  margin-top:40px;
  min-height:60vh;
  position:relative;
  z-index:2;
}

.footer a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline;
}
.dashboard-image {
  position:absolute;
  bottom:-20px;
  left:50%;
  transform:translateX(-50%);
  height:65vh;
  pointer-events:none;
}
.dashboard-container {
  width: 100%;
  min-height: 75vh;
  border: 2px solid var(--primary);
  padding: 40px;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.dashboard-container::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid var(--primary);
  z-index: -1;
  border-radius: 12px;
}

.weather-panel{
  text-align:left;
}
.character-panel{
  display:flex;
  justify-content:center;
}

.account-panel{
  display:flex;
  flex-direction:column;
  gap:15px;
  align-items:flex-end;
}
.logo{
  font-size:42px;
  text-align:center;
  margin-bottom:40px;
}
.weather-panel{
  text-align:left;
  max-width:420px;
}

/* weather result */
#weather-card{
  margin-top:10px;
  order:2;
  
}

/* button after weather result */
#weather-form button{
  order:3;
}

/* weather card layout */
.card{
  display:flex;
  flex-direction:column;
  gap:10px;
}

/* Name city */
.card h2{  
  font-size:90px;
  font-family:"Oswald","sans-serif";
  letter-spacing:5px;
}

.card p:nth-child(2){
  font-size:75px;
  font-weight:bold;
}

.card p{
  margin:0;
  max-width:none;
  width:auto;
  font-size:25px;
}

.weatherEmoji{
  font-size:36px;
  
}